---
---

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    margin: 0;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100%;
}

header ul li {
    position: relative;

    list-style: none;
    margin-left: 8px;
    margin-right: 8px;

    padding-left: 10px;
    padding-right: 10px;

    // border-bottom: 2px solid #FFF;
}

header ul li:hover {
  border-bottom: 2px solid #FFF;
  // text-decoration: underline;
}

.active {
  border-bottom: 2px solid #FFF;
}

header ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 24px;
}

.social {
  margin-right: 20px;
  font-size: 24px
}

.social a i {
  color: #dbdbd9 !important;
  transition: color 0.5s;
}

.social a i:hover {
  color: #bfbfbd !important;
}

.pre-none {
  background: none;
  border: 0;
  color: #eaeaea;
  margin: 0;
}

.container {
  width: 100%;
  max-width: none;
  height: 100%;

  margin: 0;

  overflow: auto;
  overflow-x: hidden;
}

.container section {
  width: 100%;
}

::-webkit-scrollbar {
    width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
    /* background: #59626e; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #4d5963;
}

@media (max-width: 500px) {
  header ul li a {
    font-size: 20px;
  }
  
  header ul li {
    padding-left: 4px;
    padding-right: 4px;
  }

  header {
    padding: 2px 0;
  }
}

@media (max-width: 440px) {
  header ul li a {
    font-size: 20px;
  }
}

@media (max-width: 370px) {
  header ul li a {
    font-size: 20px;
  }
  header ul li {
    // padding-left: 0px;
    // padding-right: 0px;
  }
}