---
---

.developers {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.developer {
  border: 2px dashed #b5e853;
  border-radius: 12px;
  width: 280px;
  min-width: 150px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 25px;
}

.developer .profile {
  width: 175px;
  height: 175px;
  border-radius: 100%;
}

.developer .name {
  font-size: 25px;
  font-weight: bold;
}

.developer .languages {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer .languages img {
  width: 45px;
  height: 45px;
}

.container section {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.name1 {
  font-size: 21px;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .developers {
    flex-direction: column;
  }
}